.lst-kix_ypq8gcuhdzlb-5>li {
	counter-increment: lst-ctn-kix_ypq8gcuhdzlb-5
}

.lst-kix_awgf2d68f6fp-6>li:before {
	content: "-  "
}

.lst-kix_awgf2d68f6fp-7>li:before {
	content: "-  "
}

ol.lst-kix_mrpeatok9rca-8 {
	list-style-type: none
}

.lst-kix_awgf2d68f6fp-4>li:before {
	content: "-  "
}

.lst-kix_awgf2d68f6fp-8>li:before {
	content: "-  "
}

ol.lst-kix_mrpeatok9rca-7 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-4.start {
	counter-reset: lst-ctn-kix_ypq8gcuhdzlb-4 0
}

ul.lst-kix_4x7mqofhdi9c-1 {
	list-style-type: none
}

ul.lst-kix_4x7mqofhdi9c-0 {
	list-style-type: none
}

ul.lst-kix_4x7mqofhdi9c-3 {
	list-style-type: none
}

ul.lst-kix_4x7mqofhdi9c-2 {
	list-style-type: none
}

ul.lst-kix_4x7mqofhdi9c-5 {
	list-style-type: none
}

ul.lst-kix_4x7mqofhdi9c-4 {
	list-style-type: none
}

.lst-kix_awgf2d68f6fp-5>li:before {
	content: "-  "
}

ul.lst-kix_4x7mqofhdi9c-7 {
	list-style-type: none
}

ul.lst-kix_4x7mqofhdi9c-6 {
	list-style-type: none
}

ul.lst-kix_4x7mqofhdi9c-8 {
	list-style-type: none
}

.lst-kix_mixdqgcrqif-0>li:before {
	content: "\0025cf   "
}

.lst-kix_mixdqgcrqif-1>li:before {
	content: "\0025cb   "
}

.lst-kix_awgf2d68f6fp-0>li:before {
	content: "-  "
}

.lst-kix_mrpeatok9rca-0>li {
	counter-increment: lst-ctn-kix_mrpeatok9rca-0
}

.lst-kix_4x7mqofhdi9c-7>li:before {
	content: "\0025cb   "
}

.lst-kix_awgf2d68f6fp-2>li:before {
	content: "-  "
}

.lst-kix_awgf2d68f6fp-3>li:before {
	content: "-  "
}

.lst-kix_4x7mqofhdi9c-8>li:before {
	content: "\0025a0   "
}

.lst-kix_awgf2d68f6fp-1>li:before {
	content: "-  "
}

.lst-kix_ypq8gcuhdzlb-6>li:before {
	content: "" counter(lst-ctn-kix_ypq8gcuhdzlb-6, decimal) ". "
}

.lst-kix_mixdqgcrqif-8>li:before {
	content: "\0025a0   "
}

.lst-kix_ypq8gcuhdzlb-5>li:before {
	content: "" counter(lst-ctn-kix_ypq8gcuhdzlb-5, lower-roman) ". "
}

.lst-kix_ypq8gcuhdzlb-7>li:before {
	content: "" counter(lst-ctn-kix_ypq8gcuhdzlb-7, lower-latin) ". "
}

ol.lst-kix_mrpeatok9rca-1.start {
	counter-reset: lst-ctn-kix_mrpeatok9rca-1 0
}

.lst-kix_ypq8gcuhdzlb-4>li:before {
	content: "" counter(lst-ctn-kix_ypq8gcuhdzlb-4, lower-latin) ". "
}

.lst-kix_ypq8gcuhdzlb-8>li:before {
	content: "" counter(lst-ctn-kix_ypq8gcuhdzlb-8, lower-roman) ". "
}

.lst-kix_lwpqqub2g7tu-6>li:before {
	content: "\0025cf   "
}

.lst-kix_ypq8gcuhdzlb-2>li:before {
	content: "" counter(lst-ctn-kix_ypq8gcuhdzlb-2, lower-roman) ". "
}

.lst-kix_mixdqgcrqif-4>li:before {
	content: "\0025cb   "
}

.lst-kix_ypq8gcuhdzlb-1>li:before {
	content: "" counter(lst-ctn-kix_ypq8gcuhdzlb-1, lower-latin) ". "
}

.lst-kix_ypq8gcuhdzlb-3>li:before {
	content: "" counter(lst-ctn-kix_ypq8gcuhdzlb-3, decimal) ". "
}

.lst-kix_lwpqqub2g7tu-7>li:before {
	content: "\0025cb   "
}

.lst-kix_ypq8gcuhdzlb-3>li {
	counter-increment: lst-ctn-kix_ypq8gcuhdzlb-3
}

.lst-kix_mixdqgcrqif-2>li:before {
	content: "\0025a0   "
}

.lst-kix_mixdqgcrqif-3>li:before {
	content: "\0025cf   "
}

.lst-kix_lwpqqub2g7tu-8>li:before {
	content: "\0025a0   "
}

.lst-kix_mixdqgcrqif-5>li:before {
	content: "\0025a0   "
}

.lst-kix_mixdqgcrqif-6>li:before {
	content: "\0025cf   "
}

.lst-kix_mixdqgcrqif-7>li:before {
	content: "\0025cb   "
}

ul.lst-kix_mixdqgcrqif-5 {
	list-style-type: none
}

ul.lst-kix_boex7jm77f1h-3 {
	list-style-type: none
}

ul.lst-kix_mixdqgcrqif-4 {
	list-style-type: none
}

ul.lst-kix_boex7jm77f1h-2 {
	list-style-type: none
}

ul.lst-kix_mixdqgcrqif-7 {
	list-style-type: none
}

ul.lst-kix_boex7jm77f1h-5 {
	list-style-type: none
}

ul.lst-kix_mixdqgcrqif-6 {
	list-style-type: none
}

ul.lst-kix_boex7jm77f1h-4 {
	list-style-type: none
}

ul.lst-kix_mixdqgcrqif-1 {
	list-style-type: none
}

ul.lst-kix_mixdqgcrqif-0 {
	list-style-type: none
}

ul.lst-kix_mixdqgcrqif-3 {
	list-style-type: none
}

ol.lst-kix_mrpeatok9rca-7.start {
	counter-reset: lst-ctn-kix_mrpeatok9rca-7 0
}

ul.lst-kix_boex7jm77f1h-1 {
	list-style-type: none
}

ul.lst-kix_mixdqgcrqif-2 {
	list-style-type: none
}

ul.lst-kix_boex7jm77f1h-0 {
	list-style-type: none
}

.lst-kix_s0pngwcx0f0i-1>li:before {
	content: "\0025cb   "
}

ol.lst-kix_mrpeatok9rca-0.start {
	counter-reset: lst-ctn-kix_mrpeatok9rca-0 0
}

ul.lst-kix_boex7jm77f1h-7 {
	list-style-type: none
}

.lst-kix_s0pngwcx0f0i-2>li:before {
	content: "\0025a0   "
}

ul.lst-kix_boex7jm77f1h-6 {
	list-style-type: none
}

.lst-kix_lwpqqub2g7tu-0>li:before {
	content: "\0025cf   "
}

ul.lst-kix_boex7jm77f1h-8 {
	list-style-type: none
}

.lst-kix_lwpqqub2g7tu-1>li:before {
	content: "\0025cb   "
}

ul.lst-kix_lwpqqub2g7tu-1 {
	list-style-type: none
}

.lst-kix_s0pngwcx0f0i-4>li:before {
	content: "\0025cb   "
}

ul.lst-kix_lwpqqub2g7tu-0 {
	list-style-type: none
}

ul.lst-kix_lwpqqub2g7tu-3 {
	list-style-type: none
}

.lst-kix_s0pngwcx0f0i-3>li:before {
	content: "\0025cf   "
}

.lst-kix_s0pngwcx0f0i-5>li:before {
	content: "\0025a0   "
}

ul.lst-kix_lwpqqub2g7tu-2 {
	list-style-type: none
}

ul.lst-kix_lwpqqub2g7tu-5 {
	list-style-type: none
}

.lst-kix_ypq8gcuhdzlb-0>li:before {
	content: "" counter(lst-ctn-kix_ypq8gcuhdzlb-0, decimal) ". "
}

ul.lst-kix_lwpqqub2g7tu-4 {
	list-style-type: none
}

.lst-kix_lwpqqub2g7tu-2>li:before {
	content: "\0025a0   "
}

ul.lst-kix_lwpqqub2g7tu-7 {
	list-style-type: none
}

ul.lst-kix_lwpqqub2g7tu-6 {
	list-style-type: none
}

.lst-kix_lwpqqub2g7tu-5>li:before {
	content: "\0025a0   "
}

.lst-kix_s0pngwcx0f0i-8>li:before {
	content: "\0025a0   "
}

ul.lst-kix_lwpqqub2g7tu-8 {
	list-style-type: none
}

.lst-kix_s0pngwcx0f0i-7>li:before {
	content: "\0025cb   "
}

.lst-kix_lwpqqub2g7tu-3>li:before {
	content: "\0025cf   "
}

.lst-kix_s0pngwcx0f0i-6>li:before {
	content: "\0025cf   "
}

ul.lst-kix_mixdqgcrqif-8 {
	list-style-type: none
}

.lst-kix_lwpqqub2g7tu-4>li:before {
	content: "\0025cb   "
}

ol.lst-kix_ypq8gcuhdzlb-3.start {
	counter-reset: lst-ctn-kix_ypq8gcuhdzlb-3 0
}

ul.lst-kix_s0pngwcx0f0i-1 {
	list-style-type: none
}

ul.lst-kix_s0pngwcx0f0i-0 {
	list-style-type: none
}

.lst-kix_mrpeatok9rca-7>li {
	counter-increment: lst-ctn-kix_mrpeatok9rca-7
}

.lst-kix_mrpeatok9rca-4>li {
	counter-increment: lst-ctn-kix_mrpeatok9rca-4
}

.lst-kix_ypq8gcuhdzlb-1>li {
	counter-increment: lst-ctn-kix_ypq8gcuhdzlb-1
}

.lst-kix_s0pngwcx0f0i-0>li:before {
	content: "\0025cf   "
}

ul.lst-kix_s0pngwcx0f0i-3 {
	list-style-type: none
}

ul.lst-kix_s0pngwcx0f0i-2 {
	list-style-type: none
}

ul.lst-kix_s0pngwcx0f0i-5 {
	list-style-type: none
}

ul.lst-kix_s0pngwcx0f0i-4 {
	list-style-type: none
}

ul.lst-kix_s0pngwcx0f0i-7 {
	list-style-type: none
}

.lst-kix_ypq8gcuhdzlb-7>li {
	counter-increment: lst-ctn-kix_ypq8gcuhdzlb-7
}

ul.lst-kix_s0pngwcx0f0i-6 {
	list-style-type: none
}

ol.lst-kix_mrpeatok9rca-6.start {
	counter-reset: lst-ctn-kix_mrpeatok9rca-6 0
}

ul.lst-kix_s0pngwcx0f0i-8 {
	list-style-type: none
}

.lst-kix_mrpeatok9rca-5>li {
	counter-increment: lst-ctn-kix_mrpeatok9rca-5
}

.lst-kix_mrpeatok9rca-1>li:before {
	content: "" counter(lst-ctn-kix_mrpeatok9rca-1, lower-latin) ". "
}

.lst-kix_mrpeatok9rca-3>li:before {
	content: "" counter(lst-ctn-kix_mrpeatok9rca-3, decimal) ". "
}

ul.lst-kix_5rkuqr38uif3-0 {
	list-style-type: none
}

.lst-kix_ohremhkmsmxr-3>li:before {
	content: "\0025cf   "
}

ul.lst-kix_5rkuqr38uif3-1 {
	list-style-type: none
}

ul.lst-kix_5rkuqr38uif3-2 {
	list-style-type: none
}

.lst-kix_5rkuqr38uif3-3>li:before {
	content: "\0025cf   "
}

.lst-kix_ohremhkmsmxr-5>li:before {
	content: "\0025cf   "
}

.lst-kix_5rkuqr38uif3-5>li:before {
	content: "\0025a0   "
}

ul.lst-kix_5rkuqr38uif3-7 {
	list-style-type: none
}

ul.lst-kix_5rkuqr38uif3-8 {
	list-style-type: none
}

ul.lst-kix_5rkuqr38uif3-3 {
	list-style-type: none
}

ul.lst-kix_5rkuqr38uif3-4 {
	list-style-type: none
}

ul.lst-kix_5rkuqr38uif3-5 {
	list-style-type: none
}

ul.lst-kix_5rkuqr38uif3-6 {
	list-style-type: none
}

.lst-kix_mrpeatok9rca-6>li {
	counter-increment: lst-ctn-kix_mrpeatok9rca-6
}

.lst-kix_5rkuqr38uif3-7>li:before {
	content: "\0025cb   "
}

.lst-kix_ohremhkmsmxr-1>li:before {
	content: "\0025cf   "
}

ol.lst-kix_mrpeatok9rca-8.start {
	counter-reset: lst-ctn-kix_mrpeatok9rca-8 0
}

.lst-kix_mrpeatok9rca-7>li:before {
	content: "" counter(lst-ctn-kix_mrpeatok9rca-7, lower-latin) ". "
}

ul.lst-kix_sdd2t8fiyogc-5 {
	list-style-type: none
}

ul.lst-kix_sdd2t8fiyogc-6 {
	list-style-type: none
}

.lst-kix_ypq8gcuhdzlb-0>li {
	counter-increment: lst-ctn-kix_ypq8gcuhdzlb-0
}

.lst-kix_ohremhkmsmxr-7>li:before {
	content: "\0025cf   "
}

ul.lst-kix_sdd2t8fiyogc-7 {
	list-style-type: none
}

ul.lst-kix_sdd2t8fiyogc-8 {
	list-style-type: none
}

.lst-kix_mrpeatok9rca-5>li:before {
	content: "" counter(lst-ctn-kix_mrpeatok9rca-5, lower-roman) ". "
}

ul.lst-kix_sdd2t8fiyogc-1 {
	list-style-type: none
}

ul.lst-kix_sdd2t8fiyogc-2 {
	list-style-type: none
}

ul.lst-kix_sdd2t8fiyogc-3 {
	list-style-type: none
}

ul.lst-kix_sdd2t8fiyogc-4 {
	list-style-type: none
}

.lst-kix_5rkuqr38uif3-1>li:before {
	content: "\0025cb   "
}

ul.lst-kix_sdd2t8fiyogc-0 {
	list-style-type: none
}

.lst-kix_63mqkyghdau-7>li:before {
	content: "\0025cb   "
}

.lst-kix_63mqkyghdau-3>li:before {
	content: "\0025cf   "
}

.lst-kix_63mqkyghdau-5>li:before {
	content: "\0025a0   "
}

ul.lst-kix_ohremhkmsmxr-4 {
	list-style-type: none
}

ul.lst-kix_ohremhkmsmxr-5 {
	list-style-type: none
}

ul.lst-kix_ohremhkmsmxr-6 {
	list-style-type: none
}

ul.lst-kix_ohremhkmsmxr-7 {
	list-style-type: none
}

ul.lst-kix_ohremhkmsmxr-8 {
	list-style-type: none
}

.lst-kix_4x7mqofhdi9c-5>li:before {
	content: "\0025a0   "
}

ol.lst-kix_ypq8gcuhdzlb-0.start {
	counter-reset: lst-ctn-kix_ypq8gcuhdzlb-0 0
}

.lst-kix_4x7mqofhdi9c-3>li:before {
	content: "\0025cf   "
}

.lst-kix_rt17tz6y1qvg-8>li:before {
	content: "\0025a0   "
}

ul.lst-kix_awgf2d68f6fp-1 {
	list-style-type: none
}

ul.lst-kix_awgf2d68f6fp-0 {
	list-style-type: none
}

ul.lst-kix_awgf2d68f6fp-3 {
	list-style-type: none
}

ul.lst-kix_awgf2d68f6fp-2 {
	list-style-type: none
}

ul.lst-kix_awgf2d68f6fp-5 {
	list-style-type: none
}

ul.lst-kix_awgf2d68f6fp-4 {
	list-style-type: none
}

ul.lst-kix_awgf2d68f6fp-7 {
	list-style-type: none
}

ol.lst-kix_mrpeatok9rca-4 {
	list-style-type: none
}

ul.lst-kix_awgf2d68f6fp-6 {
	list-style-type: none
}

ol.lst-kix_mrpeatok9rca-3 {
	list-style-type: none
}

.lst-kix_rt17tz6y1qvg-6>li:before {
	content: "\0025cf   "
}

ol.lst-kix_mrpeatok9rca-6 {
	list-style-type: none
}

ul.lst-kix_awgf2d68f6fp-8 {
	list-style-type: none
}

ol.lst-kix_mrpeatok9rca-5 {
	list-style-type: none
}

ol.lst-kix_mrpeatok9rca-0 {
	list-style-type: none
}

.lst-kix_4x7mqofhdi9c-1>li:before {
	content: "\0025cb   "
}

ol.lst-kix_mrpeatok9rca-2 {
	list-style-type: none
}

ol.lst-kix_mrpeatok9rca-1 {
	list-style-type: none
}

.lst-kix_rt17tz6y1qvg-1>li:before {
	content: "\0025cb   "
}

.lst-kix_2weeqkn5e82q-1>li:before {
	content: "\0025cb   "
}

.lst-kix_rt17tz6y1qvg-0>li:before {
	content: "\0025cf   "
}

.lst-kix_rt17tz6y1qvg-2>li:before {
	content: "\0025a0   "
}

.lst-kix_2weeqkn5e82q-3>li:before {
	content: "\0025cf   "
}

.lst-kix_2weeqkn5e82q-2>li:before {
	content: "\0025a0   "
}

.lst-kix_rt17tz6y1qvg-5>li:before {
	content: "\0025a0   "
}

.lst-kix_rt17tz6y1qvg-4>li:before {
	content: "\0025cb   "
}

.lst-kix_rt17tz6y1qvg-3>li:before {
	content: "\0025cf   "
}

.lst-kix_2weeqkn5e82q-0>li:before {
	content: "\0025cf   "
}

ol.lst-kix_ypq8gcuhdzlb-7.start {
	counter-reset: lst-ctn-kix_ypq8gcuhdzlb-7 0
}

.lst-kix_2weeqkn5e82q-8>li:before {
	content: "\0025a0   "
}

ul.lst-kix_ohremhkmsmxr-0 {
	list-style-type: none
}

.lst-kix_2weeqkn5e82q-7>li:before {
	content: "\0025cb   "
}

ul.lst-kix_ohremhkmsmxr-1 {
	list-style-type: none
}

ul.lst-kix_ohremhkmsmxr-2 {
	list-style-type: none
}

.lst-kix_2weeqkn5e82q-6>li:before {
	content: "\0025cf   "
}

ul.lst-kix_ohremhkmsmxr-3 {
	list-style-type: none
}

.lst-kix_2weeqkn5e82q-5>li:before {
	content: "\0025a0   "
}

ol.lst-kix_ypq8gcuhdzlb-1.start {
	counter-reset: lst-ctn-kix_ypq8gcuhdzlb-1 0
}

.lst-kix_2weeqkn5e82q-4>li:before {
	content: "\0025cb   "
}

.lst-kix_boex7jm77f1h-6>li:before {
	content: "\0025cf   "
}

.lst-kix_boex7jm77f1h-7>li:before {
	content: "\0025cb   "
}

.lst-kix_boex7jm77f1h-4>li:before {
	content: "\0025cb   "
}

.lst-kix_boex7jm77f1h-8>li:before {
	content: "\0025a0   "
}

.lst-kix_ypq8gcuhdzlb-6>li {
	counter-increment: lst-ctn-kix_ypq8gcuhdzlb-6
}

.lst-kix_63mqkyghdau-1>li:before {
	content: "\0025cb   "
}

.lst-kix_boex7jm77f1h-5>li:before {
	content: "\0025a0   "
}

.lst-kix_63mqkyghdau-0>li:before {
	content: "\0025cf   "
}

.lst-kix_boex7jm77f1h-0>li:before {
	content: "\0025cf   "
}

.lst-kix_boex7jm77f1h-2>li:before {
	content: "\0025a0   "
}

.lst-kix_boex7jm77f1h-3>li:before {
	content: "\0025cf   "
}

.lst-kix_boex7jm77f1h-1>li:before {
	content: "\0025cb   "
}

ul.lst-kix_63mqkyghdau-6 {
	list-style-type: none
}

ul.lst-kix_63mqkyghdau-5 {
	list-style-type: none
}

ul.lst-kix_63mqkyghdau-8 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-2.start {
	counter-reset: lst-ctn-kix_ypq8gcuhdzlb-2 0
}

ul.lst-kix_63mqkyghdau-7 {
	list-style-type: none
}

ul.lst-kix_63mqkyghdau-2 {
	list-style-type: none
}

ul.lst-kix_63mqkyghdau-1 {
	list-style-type: none
}

ul.lst-kix_63mqkyghdau-4 {
	list-style-type: none
}

ul.lst-kix_63mqkyghdau-3 {
	list-style-type: none
}

.lst-kix_sdd2t8fiyogc-0>li:before {
	content: "  "
}

ul.lst-kix_63mqkyghdau-0 {
	list-style-type: none
}

.lst-kix_sdd2t8fiyogc-1>li:before {
	content: "\0025cb   "
}

.lst-kix_sdd2t8fiyogc-2>li:before {
	content: "\0025a0   "
}

.lst-kix_sdd2t8fiyogc-7>li:before {
	content: "\0025cb   "
}

.lst-kix_sdd2t8fiyogc-8>li:before {
	content: "\0025a0   "
}

.lst-kix_sdd2t8fiyogc-5>li:before {
	content: "\0025a0   "
}

.lst-kix_sdd2t8fiyogc-6>li:before {
	content: "\0025cf   "
}

.lst-kix_sdd2t8fiyogc-3>li:before {
	content: "\0025cf   "
}

.lst-kix_sdd2t8fiyogc-4>li:before {
	content: "\0025cb   "
}

.lst-kix_ypq8gcuhdzlb-4>li {
	counter-increment: lst-ctn-kix_ypq8gcuhdzlb-4
}

.lst-kix_mrpeatok9rca-1>li {
	counter-increment: lst-ctn-kix_mrpeatok9rca-1
}

.lst-kix_mrpeatok9rca-0>li:before {
	content: "" counter(lst-ctn-kix_mrpeatok9rca-0, decimal) ". "
}

.lst-kix_5rkuqr38uif3-2>li:before {
	content: "\0025a0   "
}

.lst-kix_mrpeatok9rca-2>li:before {
	content: "" counter(lst-ctn-kix_mrpeatok9rca-2, lower-roman) ". "
}

.lst-kix_mrpeatok9rca-4>li:before {
	content: "" counter(lst-ctn-kix_mrpeatok9rca-4, lower-latin) ". "
}

.lst-kix_ohremhkmsmxr-4>li:before {
	content: "\0025cf   "
}

.lst-kix_5rkuqr38uif3-4>li:before {
	content: "\0025cb   "
}

.lst-kix_5rkuqr38uif3-6>li:before {
	content: "\0025cf   "
}

ol.lst-kix_mrpeatok9rca-5.start {
	counter-reset: lst-ctn-kix_mrpeatok9rca-5 0
}

ul.lst-kix_2weeqkn5e82q-0 {
	list-style-type: none
}

ul.lst-kix_2weeqkn5e82q-3 {
	list-style-type: none
}

.lst-kix_ohremhkmsmxr-2>li:before {
	content: "\0025cf   "
}

ul.lst-kix_2weeqkn5e82q-4 {
	list-style-type: none
}

.lst-kix_5rkuqr38uif3-8>li:before {
	content: "\0025a0   "
}

ul.lst-kix_2weeqkn5e82q-1 {
	list-style-type: none
}

ul.lst-kix_2weeqkn5e82q-2 {
	list-style-type: none
}

ol.lst-kix_mrpeatok9rca-2.start {
	counter-reset: lst-ctn-kix_mrpeatok9rca-2 0
}

ul.lst-kix_2weeqkn5e82q-7 {
	list-style-type: none
}

.lst-kix_ohremhkmsmxr-0>li:before {
	content: "\0025cf   "
}

ul.lst-kix_2weeqkn5e82q-8 {
	list-style-type: none
}

ul.lst-kix_2weeqkn5e82q-5 {
	list-style-type: none
}

ul.lst-kix_2weeqkn5e82q-6 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-8 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-6 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-7 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-8.start {
	counter-reset: lst-ctn-kix_ypq8gcuhdzlb-8 0
}

ol.lst-kix_ypq8gcuhdzlb-0 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-1 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-4 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-5 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-2 {
	list-style-type: none
}

ol.lst-kix_ypq8gcuhdzlb-3 {
	list-style-type: none
}

.lst-kix_ohremhkmsmxr-6>li:before {
	content: "\0025cf   "
}

.lst-kix_mrpeatok9rca-6>li:before {
	content: "" counter(lst-ctn-kix_mrpeatok9rca-6, decimal) ". "
}

.lst-kix_mrpeatok9rca-8>li:before {
	content: "" counter(lst-ctn-kix_mrpeatok9rca-8, lower-roman) ". "
}

.lst-kix_5rkuqr38uif3-0>li:before {
	content: "\0025cf   "
}

.lst-kix_ohremhkmsmxr-8>li:before {
	content: "\0025cf   "
}

ol.lst-kix_ypq8gcuhdzlb-5.start {
	counter-reset: lst-ctn-kix_ypq8gcuhdzlb-5 0
}

.lst-kix_mrpeatok9rca-2>li {
	counter-increment: lst-ctn-kix_mrpeatok9rca-2
}

.lst-kix_ypq8gcuhdzlb-8>li {
	counter-increment: lst-ctn-kix_ypq8gcuhdzlb-8
}

.lst-kix_ypq8gcuhdzlb-2>li {
	counter-increment: lst-ctn-kix_ypq8gcuhdzlb-2
}

.lst-kix_mrpeatok9rca-8>li {
	counter-increment: lst-ctn-kix_mrpeatok9rca-8
}

ol.lst-kix_mrpeatok9rca-4.start {
	counter-reset: lst-ctn-kix_mrpeatok9rca-4 0
}

.lst-kix_63mqkyghdau-8>li:before {
	content: "\0025a0   "
}

.lst-kix_63mqkyghdau-2>li:before {
	content: "\0025a0   "
}

ol.lst-kix_ypq8gcuhdzlb-6.start {
	counter-reset: lst-ctn-kix_ypq8gcuhdzlb-6 0
}

.lst-kix_63mqkyghdau-6>li:before {
	content: "\0025cf   "
}

.lst-kix_mrpeatok9rca-3>li {
	counter-increment: lst-ctn-kix_mrpeatok9rca-3
}

.lst-kix_63mqkyghdau-4>li:before {
	content: "\0025cb   "
}

ul.lst-kix_rt17tz6y1qvg-7 {
	list-style-type: none
}

ul.lst-kix_rt17tz6y1qvg-8 {
	list-style-type: none
}

.lst-kix_4x7mqofhdi9c-6>li:before {
	content: "\0025cf   "
}

ul.lst-kix_rt17tz6y1qvg-0 {
	list-style-type: none
}

ol.lst-kix_mrpeatok9rca-3.start {
	counter-reset: lst-ctn-kix_mrpeatok9rca-3 0
}

ul.lst-kix_rt17tz6y1qvg-1 {
	list-style-type: none
}

ul.lst-kix_rt17tz6y1qvg-2 {
	list-style-type: none
}

ul.lst-kix_rt17tz6y1qvg-3 {
	list-style-type: none
}

.lst-kix_4x7mqofhdi9c-4>li:before {
	content: "\0025cb   "
}

ul.lst-kix_rt17tz6y1qvg-4 {
	list-style-type: none
}

li.li-bullet-0:before {
	margin-left: -18pt;
	white-space: nowrap;
	display: inline-block;
	min-width: 18pt
}

ul.lst-kix_rt17tz6y1qvg-5 {
	list-style-type: none
}

ul.lst-kix_rt17tz6y1qvg-6 {
	list-style-type: none
}

.lst-kix_4x7mqofhdi9c-2>li:before {
	content: "\0025a0   "
}

.lst-kix_rt17tz6y1qvg-7>li:before {
	content: "\0025cb   "
}

.lst-kix_4x7mqofhdi9c-0>li:before {
	content: "  "
}

ol {
	margin: 0;
	padding: 0
}

table td,
table th {
	padding: 0
}

.c21 {
	padding-top: 20pt;
	padding-bottom: 6pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left;
	height: 20pt
}

.c10 {
	padding-top: 12pt;
	padding-bottom: 12pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c13 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: center;
	height: 11pt
}

.c25 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 10pt;
	font-family: "Arial";
	font-style: normal
}

.c16 {
	padding-top: 18pt;
	padding-bottom: 6pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: center
}

.c12 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 20pt;
	font-family: "Arial";
	font-style: normal
}

.c3 {
	padding-top: 18pt;
	padding-bottom: 6pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c8 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 16pt;
	font-family: "Arial";
	font-style: normal
}

.c0 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Arial";
	font-style: normal
}

.c14 {
	color: #188038;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 9pt;
	font-family: "Roboto Mono";
	font-style: normal
}

.c22 {
	padding-top: 20pt;
	padding-bottom: 6pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c1 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left;
	height: 11pt
}

.c20 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 9pt;
	font-family: "Roboto Mono";
	font-style: normal
}

.c19 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: center
}

.c2 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c18 {
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Arial";
	font-style: normal
}

.c9 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c26 {
	font-size: 9pt;
	font-family: "Roboto Mono";
	color: #188038;
	font-weight: 400
}

.c5 {
	text-decoration-skip-ink: none;
	-webkit-text-decoration-skip: none;
	color: #1155cc;
	text-decoration: underline
}

.c15 {
	background-color: #efefef;
	font-family: "Courier New";
	font-weight: 400
}

.c27 {
	background-color: #ffffff;
	max-width: 468pt;
	padding: 72pt 72pt 72pt 72pt
}

.c24 {
	padding: 0;
	margin: 0
}

.c23 {
	width: 33%;
	height: 1px
}

.c6 {
	margin-left: 36pt;
	padding-left: 0pt
}

.c4 {
	color: inherit;
	text-decoration: inherit
}

.c7 {
	margin-left: 72pt
}

.c29 {
	font-size: 9pt
}

.c30 {
	font-style: italic
}

.c28 {
	height: 16pt
}

.c11 {
	font-weight: 700
}

.c17 {
	margin-left: 36pt
}

.title {
	padding-top: 0pt;
	color: #000000;
	font-size: 26pt;
	padding-bottom: 3pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.subtitle {
	padding-top: 0pt;
	color: #666666;
	font-size: 15pt;
	padding-bottom: 16pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

li {
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}

p {
	margin: 0;
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}

h1 {
	padding-top: 20pt;
	color: #000000;
	font-size: 20pt;
	padding-bottom: 6pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h2 {
	padding-top: 18pt;
	color: #000000;
	font-size: 16pt;
	padding-bottom: 6pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h3 {
	padding-top: 16pt;
	color: #434343;
	font-size: 14pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h4 {
	padding-top: 14pt;
	color: #666666;
	font-size: 12pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h5 {
	padding-top: 12pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h6 {
	padding-top: 12pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	font-style: italic;
	orphans: 2;
	widows: 2;
	text-align: left
}